<div class="others-container">
	<div class="others-article">
		<h1>内山農園とは</h1>
			<p>内山農園ではSDGsの一環としてフードマイレージに取り組んでます。配送によって大量に排出されるCO2。また手塩にかけた野菜たちを廃棄することに心を痛めてます。小さな農園のため、日本のフードマイレージ問題のほんの僅かな問題解決にしかなりませんが、この小さな取り組みが大切だと考えています。お近くに住む方たちに、採れたての野菜をお手頃価格でご提供しております。フードマイレージの取り組として、収穫予定日を予めお知らせし、ご来店いただいた方順に販売しています。</p>
	</div>
	
	
	<h2>アクセス</h2>

	<ul>
		<li>〒000-0000<br>福岡県南会津町12-34-5	</li>
		<li>TEL 01234-567-8910	</li>
		<li>e-Mail info@example.com	</li>
		<li>※都合により休業する場合がございます	</li>
	</ul>

	<div class="map">
		<!-- GOOGLE MAP -->
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22051.290972528568!2d139.292808452252!3d36.95470290068182!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601e33b622c00d97%3A0x45e53d1247dd94c9!2z5bC-54Cs5Zu956uL5YWs5ZyS!5e0!3m2!1sja!2sjp!4v1661399686281!5m2!1sja!2sjp" width="960" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		<!-- // GOOGLE MAP -->
	</div>
</div>

