<h1>プロフィール編集</h1>

<%= form_with model: @user do |form| %>
  <div>ユーザー名<%= form.text_field :name %></div>
  <div>メールアドレス<%= form.email_field :email %></div>
  <div><%= form.submit "保存" %></div>
<% end %>