<p id="notice"><%= notice %></p>

<div class="form-groups">
  <%= render 'form', contact: @contact %>
</div>

<div class="button-white-small">
  <p class="arrow">
    <i class="fa-solid fa-angle-left"></i>
    <%= link_to 'トップページ', foods_path %>
  </p>
</div>

<% if current_user %>
  <div class="button-white-small">
    <p class="arrow">
      <i class="fa-solid fa-user"></i>
      <%= link_to 'マイページ', users_show_path %>
    </p>
  </div>
<% end %>