<div class="form-groups">
  <h1>編集する</h1>

  <%= render 'form', food: @food %>

  <div class="button-blue">
    <i class="fa-solid fa-circle-check"></i>
    &nbsp;<%= link_to '確認', @food %>
  </div>

  <div class="button-white">
    <i class="fa-solid fa-angle-left"></i>
    &nbsp;<%= link_to '戻る', foods_path %>
  </div>
</div>