<div class="form-groups">
  <h1>編集する</h1>

  <%= render 'form', food: @food %>

  <i class="fa-solid fa-angle-left"></i>
  <%= link_to '戻る', foods_path %>

  <i class="fa-solid fa-list-ul"></i>
  <%= link_to '確認', @food %>

</div>