<div class="form-groups">
  <h1>新しい収穫物を登録する</h1>

  <%= render 'form', food: @food %>

  <div class="button-white-small">
    <p class="arrow">
      <i class="fa-solid fa-angle-left"></i>
      <%= link_to 'トップページへ戻る', foods_path %>
    </p>
  </div>
</div>