// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.icon {
  font-size: 22px;
  justify-content: center;
  width: 30px;
  height: 30px;
  // float: left;
}

.comment_detail {
  border-bottom: 0.5px solid rgb(154, 154, 154);
}

// .icon_container {
//   float: right;
// }