// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.contact-container {
  width: 100%;
  text-align: center;
}

table.contacts {
  text-align: left;
  width: 480;
  margin: 0 auto;
}

#contact_name {
  width: 400px;
}

#contact_email {
  width: 400px;
}

#contact_message {
  width: 400px;
}

