// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.contact {
  font-size: 1.5rem;
  color: black;
}

#contact_name {
  border-radius: 10px;
  background-color: #f8f8f8;
  border: none;
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 10px;
}

#contact_email {
  border-radius: 10px;
  background-color: #f8f8f8;
  border: none;
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 10px;
}

#contact_message {
  border-radius: 10px;
  background-color: #f8f8f8;
  border: none;
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 10px;
}