// Place all the styles related to the Foods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h2 {
  color: #5c8234;
  font-weight: bold;
}

h3 {
  font-size: 1.25rem;
  color: #306cf4;
  font-weight: bold;
}

.food-container {
  float: left;
  width: 225px;
  height: 400px;
  margin: 5px;
  border-radius: 5px 5px 5px 5px;
  object-fit: cover;
  border: 0.5px solid;
  border-color: #c0c0c0;
}

.food-container img {
  width: 221px;
  height: 156px;
  border-radius: 5px 5px 5px 5px;
  object-fit: cover;
}


.tbody {
  width: 225px;
}

.top_main {
  width: auto;
  height: 500;
  object-fit: contain;
}

.slick-list {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

.slick-list .top_main {
  width: 100%;
}

.concept-container {
  width: 0 auto;
}

.concept {
  width: auto;
  text-align: center;
  font-size: 1rem;
  line-height: 170%;
  margin: 1rem auto;
}

.search-container {
  margin: 10px auto;
  overflow: hidden
}

.food_search {
  float: right;
  overflow: hidden
}

.button-blue {
  width: 450px;
  height: 40px;
  background: #b3ddff;
  border: solid;
  border-color: #7ec5ff;
  border-radius: 15px;
  text-align: center;
  margin: 15px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-blue-small {
  width: 200px;
  height: 40px;
  background: #b3ddff;
  border: solid;
  border-color: #7ec5ff;
  border-radius: 15px;
  text-align: center;
  margin: 15px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-white {
  width: 450px;
  height: 40px;
  border: solid;
  border-color: #7ec5ff;
  border-radius: 15px;
  text-align: center;
  margin: 15px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-white-small {
  width: 200px;
  height: 40px;
  border: solid;
  border-color: #7ec5ff;
  border-radius: 15px;
  text-align: center;
  margin: 15px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.food-show-img {
  text-align: center;
}

.admin-top {
  overflow: hidden;
  text-align: center;
  margin: 1rem;
}

.admin-plan {
  color: #f8f8f8;
  margin: 0px;
}

.field-input input {
  border-radius: 10px;
  background-color: #f8f8f8;
  border: none;
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 10px;
}

.field textarea {
  border-radius: 10px;
  background-color: #f8f8f8;
  border: none;
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 10px;
}

.food-name {
  font-size: 1.2rem;
  color: rgb(134, 92, 0);
  font-weight: bold;
}

.food-show-h1 {
  font-size: 1.5rem;
  color: rgb(134, 92, 0);
  font-weight: bold;
}

.arrow {
  font-size: 16px;
  color: cornflowerblue;
  margin-top: 10px;
}

// .td {
//   display: -webkit-box;
//   -webkit-box-orient: vertical;
//   -webkit-line-clamp: 2;

//   overflow: hidden;
// }


@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */
}