// Place all the styles related to the Plan controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.show {
  max-width: 600px;
  margin: 20px auto;
}


.button-blue-small {
  width: 200px;
  height: 40px;
  background: #b3ddff;
  border: solid;
  border-color: #7ec5ff;
  border-radius: 15px;
  text-align: center;
  margin: 15px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-white-small {
  width: 200px;
  height: 40px;
  border: solid;
  border-color: #7ec5ff;
  border-radius: 15px;
  text-align: center;
  margin: 15px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}