// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.user-food {
  float: left;
  width: 225px;
  margin: 5px;
  border-radius: 5px 5px 5px 5px;
  object-fit: cover;
  border: 0.5px solid;
  border-color: #c0c0c0;
}

#user_name {
  border-radius: 10px;
  background-color: #f8f8f8;
  border: none;
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 10px;
}

#user_email {
  border-radius: 10px;
  background-color: #f8f8f8;
  border: none;
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 10px;
}


#user_password {
  border-radius: 10px;
  background-color: #f8f8f8;
  border: none;
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 10px;
}


#user_password_confirmation {
  border-radius: 10px;
  background-color: #f8f8f8;
  border: none;
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 10px;
}

.profile-edit {
  width: 450px;
  height: 40px;
  background: #b3ddff;
  border-radius: 15px;
  text-align: center;
  margin: 15px auto;
}

.users-show {
  margin: 10px auto;
  width: 100%;
}

.users-show-edit {
  padding: 20px auto;
  margin: 20px auto;
}

.button-white {
  width: 450px;
  height: 40px;
  border: solid;
  border-color: #7ec5ff;
  border-radius: 15px;
  text-align: center;
  margin: 15px auto;
}