// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.user-food {
  float: left;
  width: 225px;
  margin: 5px;
  border-radius: 5px 5px 5px 5px;
  object-fit: cover;
  border: 0.5px solid;
  border-color: #c0c0c0;
}